<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Konto aktivieren</title>
    <style>
      body { font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; }
      .container {margin: 0 auto; padding: 24px; }
      .button { display:inline-block; padding:12px 18px; text-decoration:none; border-radius:50px; background:#111827; color:#fff; }
      .muted { color:#6b7280; font-size:14px; }
      .videoflix { color:#005AFF;}
    </style>
  </head>
  <body>
    <div class="container">
      <img src="cid:logo_image" alt="Videoflix Logo">
      <h2>Dear {{ user_name }},</h2>
      <p>Thank you for registering in <a class="videoflix">Videoflix</a>. To complete your registration and verify your email adress, please click the link below:</p>
      <p><a class="button" href="{{ activation_link_string }}">Konto aktivieren</a></p>
      <p>
        If you did not create an account with us, please disregard this email<br>
      </p>
      <p>Best regards,<br>Your Videoflix Team.</p>
    </div>
  </body>
</html>
